body{
    margin:0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor4{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows:repeat(5 , auto) ;
    grid-template-areas:  "header header header"
                          "datos datos datos"
                          "datos datos datos"
                          "footer footer footer"
                          "footer footer footer";
}

/*-----HEADER------*/

.header{
    height: 80%;
    padding-bottom: 18px;
}

#menu{
   
   padding: 5px;
}

#menu .opciones .activo a {
  
  font-weight: bold;
  color: #000;
  
}

 .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .header .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

 .marca{
    text-align: left;
}

#buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    outline: 0;
    background: #E8F0FE;
    border: 0;
   
}

.buscador-lupa {

  width: 500px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  
}

.icon-lupa{
  color: #fff;
  text-align: center;
  margin: auto;
  cursor: pointer;
  padding: 6px;
  background: yellowgreen;
    
}


.icon-basket{
   font-size: 20px;
   grid-column: 3/-1 ;
   line-height: 50px;
   text-align: center;
   color: #fff;
   line-height: 70px;
    cursor: pointer;
}


.contador{
  color: yellowgreen;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}


#menu ul li{
    display: inline-block;
    margin-right: 10px;  

}

#menu ul li a{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px;
    
}

.opciones li a{
  text-decoration:none;
}


 .header{
    grid-area: header;
    background-color: black;
    
    
}

 #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
   
}

.marca{
    font-family: 'Cinzel', serif;
    color: #fff;
}
#menu{
    grid-area:menuu;
    background-color: yellowgreen;
    grid-gap: 0;

}

#menu a:hover{
    color: white;
}


/*--------------------------------------------------------------*/

.a-titulo{
  text-decoration: none;
}

 a .titulo-evento{
  
  color: white;
 }

 .titulo-inscripcion {
  grid-area: datos;
  color: white;
  margin-left: 50px;
  text-align: center;
 }

 .datos-contenedor{
  grid-area: datos;
  margin: auto;
 }

 .no-remove-container>div ,
 .no-remove-container>input{

  width: 300px;
  height: 30px;
  outline: 0;
  text-align: center;
  margin-bottom: 50px;
 }


 .remove-container>div,
 .remove-container>input{

  width: 300px;
  height: 30px;
  outline: 0;
  text-align: center;
  margin-bottom: 50px;

 }

 .remove-container>div,
 .no-remove-container>div{
  display: inline-block;
  width: 50px;
  height: 50px;
 }


 .icon-minus{

  color: #F25E3D;
  font-size: 40px;
  cursor: pointer;
  
 }
 .agregar{
  grid-area: datos;
  text-align: center;
 }


 .agregar >p{
    color:#000;
    background: #F25E3D;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-bottom: 2px;
    margin-top: 5px;

 }

.agregar >h4{
    color:white;
}

/*.b-inscribirse-total{
  grid-area: datos;
  margin: auto;
  padding-bottom: 10px;
  color: black;
  display: flex;
  justify-content: center;
  
}*/

.inscriptos> p{
  display: inline-block;
}

.boton1 , .boton2{
  width: 200px;
  padding: 10px;
  border:0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-right: 30px;
  background-color: yellowgreen;
  outline: 0;
  grid-area: datos;
  margin: auto;
  padding-bottom: 10px;
  color: black;
  display: flex;
  justify-content: center;
  display: inline-block;
  margin-left: 200px;
}


.boton1:hover , .boton2:hover{

  background:#CDDC39;
 
}

.boton2{
  cursor: pointer;
}

/*---------------modal------------------------*/
.modal-container{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow-y: visible;
}
.modal-content{
     background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid lightgray;
      border-top: 10px solid #CDDC39;
      width: 60%;
      height: 60%;
}

.modal-container .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .modal-container .close:hover,
    .modal-container .close:focus {
      color: #f00;
      text-decoration: none;
      cursor: pointer;
    }


.fa-check{
  color: green;
}

.estado-inscripcion {
  text-align: center;
}

/*--------------------------------*/

 footer{
    grid-area: footer;
    background-color: black;
    margin-bottom: 0;
    border-top: 1px solid white;
}

footer .copyright{
    color: white;
    text-align: center;
    padding-bottom: 10px;

}

#footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: "email menui redes"
                       /*"copy copy copy"*/;

 padding-top: 15px;
 border-top: 1px solid yellowgreen;

}

.email{

  border:0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8F0FE;
  height: 30px;
  width: 200px;
  outline: 0;
  
}

.email::placeholder{
  background-color: #E8F0FE;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 5px;

}

.casilla-de-mail{

 grid-area: email;
 /* margin-left: 20px;*/
 margin: auto;

}


.suscribirse{
  border: 0;
  font-family: 'Roboto', sans-serif;
  height: 32px;
  background-color: yellowgreen;
  font-weight: bold;
  /*border-radius: 5px;*/
}

.suscribirse:hover{
  background-color: #F25E3D;
}
.menu-interior>a{
  text-decoration: none;
  color: yellowgreen;
  margin: auto;
  
}


#mi{
  text-align: center;
}

#mi:hover{
  /*text-decoration:overline;
  text-decoration-color: black;*/
  font-weight: bold;
  color:#F25E3D;
}

.menu-interior{
  grid-area: menui;
  margin: auto;
  text-align: center;
}

.redes{
  color: yellowgreen;
  display:inline-block;
  grid-area: redes;
  margin:auto;
  font-size: 20px;
  /*margin-right: 50px;*/
  text-align: center;

}

.redes span{
  margin-right: 25px;
}

.redes span:hover{

 color:#F25E3D;

}

.copyright{
  
 /* grid-area: copy;*/
  text-align: center;
  margin-bottom: 0px;
  padding-top: 8px;
  font-size: 10px;
}

