body{
    margin:0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor4{

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows:repeat(5 , auto) ;
    grid-template-areas:  "header                 header                header"
                          "tarjeta-personalizada  tarjeta-personalizada tarjeta-personalizada"
                          "tarjeta-personalizada  tarjeta-personalizada tarjeta-personalizada"
                          "footer                 footer                footer"
                          "footer                 footer                footer";
}

/*-----HEADER------*/

.header{
    height: 80%;
    padding-bottom: 18px;
}

#menu{
   
   padding: 5px;
}

 .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

 .header .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

 .marca{
    text-align: left;
    cursor: pointer;
}


 #buscador{
    display: flex;
    justify-content: center;
     text-align: center;
}


.icon-basket{
   font-size: 20px;
   grid-column: 3/-1 ;
   line-height: 50px;
   text-align: center;
   color: #fff;
   line-height: 70px;
   cursor: pointer;
}

.contador{
  color: yellowgreen;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}

.icon-lupa{
    color: #fff;
}

#menu ul li{
    display: inline-block;
    margin-right: 10px;  

}

#menu ul li a{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px;
    
}

.opciones li a{
  text-decoration:none;
}


#menu .opciones .activo a {
  
  font-weight: bold;
  color: #000;
  
}


 .header{
    grid-area: header;
    background-color: black;
    
    
}

  #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    outline: 0;
    background: #E8F0FE;
    border: 0;
   
}

.buscador-lupa {

  width: 500px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  
}

.icon-lupa{
  color: #fff;
  text-align: center;
  margin: auto;
  cursor: pointer;
  padding: 6px;
  background: yellowgreen;
    
}


.marca{
    font-family: 'Cinzel', serif;
    color: #fff;
}
#menu{
    
    background-color: yellowgreen;
    grid-gap: 0;

}

#menu a:hover{
    color: white;
}



/*--------------------------------------------------------------*/

.a-titulo-principal{

  text-decoration: none;
}

.titulo-principal{

  text-align: center;
  color: white;
}

.section-invitacion-personalizada{

  grid-area: tarjeta-personalizada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  

}



.tarjeta-personalizacion{

  display: flex;
  flex-direction:row;
  /*margin-left: 30px;*/
  justify-content: center;

}


.tarjeta-personalizacion >div{

  margin-right: 10px;

}



 .tarjeta{
 
  color: white;
  border:1px  solid yellowgreen;
  width: 400px;
  height: 300px;
  position: relative;
  /*align-self: center;*/
  margin: auto;



 }

 .tarjeta>h3 , .tarjeta>p{

  text-align: center;
 }

 .tarjeta>p{
  position: relative;
  bottom: 0px;
 }

 .tarjeta {

  margin-right: 15px;
 }

.modificacion-titulo{
  color:white;
 
  margin: auto;
}

.personalizacion{

  color:white;
  width: 400px;
  height: 100%;
  margin-right: 200px;
  display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 margin-top: 0px;

}

.personalizacion{
  text-align: center;
  /*background-color:  rgb(200,85,40);*/
  


}

.personalizacion >input ,
.personalizacion >div{
     
     align-self: center;

 }

 /*****/
 .personalizacion2{

  color:white;
  width: 400px;
  height: 100%;
  margin-right: 50px;
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;

 margin-top: 17px;

}

.personalizacion2{
  text-align: center;
  /*background-color:  rgb(200,85,40);*/
  


}

.personalizacion2 >input ,
.personalizacion2 >div{
     
     align-self: center;

 }

.titulo-e{
  padding: 10px;
  background-color: #CDDC39;
  border:0;
  outline: 0;
}

.fecha-hora{

  padding: 10px;
  background-color: #CDDC39;
  border:0;
  outline: 0;

}

input[type=radio]{

  cursor: pointer;

}


#negro {

  color: black;

}
 #blanco{
  color: white;}

 #rojo {
  color: red;
 }

 #azul{
  color: blue;}

  #verde{
    color: green;
  }

.size-texto{
  display: inline-block;
  background-color: #CDDC39;
  padding: 10px;
  width: 300px;
  font-size: 14px;
  color:#72751C /*#818520*/;
}

.t-fondo{
  color: white;
  text-align: center;
}

.opciones-color{
  display: inline-block;
  background-color: #CDDC39;
  padding: 10px;
  width: 300px;
  align-self: center;
}

input[type="text"]{
  width: 300px;
  text-align: center;

}

.ubicacion>label{
  background-color: white;
  width: 30px;
  height:20px;
 margin: auto;
  
}

.ubicacion {

  display: inline-flex;
  background-color: #CDDC39;
  width: 300px;
  padding: 10px;

}

/*.ub-1:before , .ub-2:before , .ub-3:before{
  content: '';
  background-color: black;
  width: 10px;
  height: 10px;
  z-index: 1;


}*/


.position{

  background: black;
  width: 10px;
  height: 5px;
  outline: 0;
 

}

.p1{

margin-left: 0px;
  
}

.p2{

   margin: auto;
 
}

.p3{

 margin-left: 20px;
  
}





.b-confirmar{

  background-color: yellowgreen;
  border:0;
  color: #000/*#F0F4C3*/;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  /*border-radius: 10px;*/
  width: 320px;
  padding: 10px;
  outline: 0;


}

.b-confirmar:hover{
  background: #CDDC39;
}



/*--------------------------------*/

 footer{
    grid-area: footer;
    background-color: black;
    margin-bottom: 0;
    border-top: 1px solid yellowgreen;
}

footer .copyright{
    color: white;
    text-align: center;
    padding-bottom: 10px;

}

#footer{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: "email menui redes"
                       /*"copy copy copy"*/;

 padding-top: 15px;
 border-top: 1px solid yellowgreen;

}



.email{

  border:0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8F0FE/*#F25E3D*/;
  height: 30px;
  width: 200px;
  outline: 0;
}

.email::placeholder{
  background-color: #E8F0FE;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 5px;

}

.casilla-de-mail{

 grid-area: email;
 /* margin-left: 20px;*/
 margin: auto;

}


.suscribirse{
  border: 0;
  font-family: 'Roboto', sans-serif;
  height: 32px;
  background-color: yellowgreen;
  font-weight: bold;
  outline: 0;
}

.suscribirse:hover{
  background-color: #F25E3D;
}
.menu-interior>a{
  text-decoration: none;
  color: yellowgreen;
  margin: auto;
  
}


#mi{
  text-align: center;
}

#mi:hover{
  /*text-decoration:overline;
  text-decoration-color: black;*/
  font-weight: bold;
  color:#F25E3D;
}

.menu-interior{
  grid-area: menui;
  margin: auto;
  text-align: center;
}

.redes{
  color: yellowgreen;
  display:inline-block;
  grid-area: redes;
  margin:auto;
  font-size: 20px;
  /*margin-right: 50px;*/
  text-align: center;

}

.redes span{
  margin-right: 25px;
}

.redes span:hover{

 color:#F25E3D;

}

.copyright{
  
 /* grid-area: copy;*/
  text-align: center;
  margin-bottom: 0px;
  padding-top: 8px;
  font-size: 10px;
}





