
.section-entradas{
  padding-top: 12%;
}

.titulo-entradas{
  grid-area: titulo;
  color: white;
  text-align: center;
}

.tabla{
  grid-area: tabla;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(7,1fr);
 

}
.tabla >.fila1{
  color: #000;
  border-top: 1px solid yellowgreen;
  border-bottom: 1px solid yellowgreen;
  background:  #cddc39;
}
.tabla>div , .tabla>input , .tabla >i{
 
 color: #000/*#E8F0FE*/;
 text-align: center;
 padding:10px;
 background-color: #9ACD32/*#6E8C03*/;
 border-right: 1px solid yellowgreen;
 border-left: 1px solid yellowgreen;

}

.contenedor-cantidad{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fa-plus , .fa-minus{
  cursor: pointer;
}



.tabla>input{
  border: 0;
  outline: 0;
}


.fila1{
  color: #000;
  font-weight: bold;
}

.personalizar{
    background-color:#F2A341 ;
    color: white;
}

.m-personalizar{
    background-color: #F25E3D;
    color: white;
}

.personalizar , .m-personalizar{
  border:0;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  outline: 0;
  cursor: pointer;
}

.personalizar:hover , .m-personalizar:hover{
  color:black;
}

.personalizar[disabled='']{
   opacity: 0.6;
 
}

.botones-compra{
  grid-area: botones;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}


.b-scomprar , .b-fcompra{
  background-color: yellowgreen;
  width: 200px;
  padding: 10px;
  border:0;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-left: 50px;
  outline: 0;
}


.b-scomprar:hover , .b-fcompra:hover , .imprimir-comprobante:hover , .pagar:hover{
   background: #cddc39;
  
}

/*---------------modal------------------------*/
.modal-container{
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 90px;
  left: 0;
  top: 10%;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  overflow-y: visible;
}
.modal-content{
     background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid lightgray;
      border-top: 10px solid #CDDC39;
      width: 60%;
      height: 65%;
}

.modal-container .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .modal-container .close:hover,
    .modal-container .close:focus {
      color: #f00;
      text-decoration: none;
      cursor: pointer;
    }

#barcode{
  /*visibility: hidden;*/
  display: none;
}
.fa-check{
  color: green;
}

.estado-inscripcion {
  text-align: center;
}

.titulo-carrito{
  text-align: center;
}

.detalle-compra{
  margin: auto;
  /*border: 1px solid red;*/
  text-align: center;
  height: 65%;
}

.detaller-compra>.evento-precio{
  margin-bottom: 0;
  display: inline-block;
  margin-bottom: 2px;
}

.nombre-evento{
  text-align: left;
}

.imprimir-comprobante , .pagar{

  background-color: yellowgreen;
  padding: 10px;
  border:0;
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  outline: 0;

}

.imprimir-comprobante{
  width: 200px;
}

.tarjeta-empresa{
  height: 21px;
}

.codigo-seguridad{
  width: 23px;
  outline: 0;
  /*border: 0;*/
}

.pagar{

  width:700px;
  margin-left: 30px;
}

.total{
  display: inline-block;
}

.detalle-compra >.total{
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 8px;
}

.total-pago{
  display: inline-block;
}

.medio-pago{
  margin-top: 0px;
}


/***********************************************************/

#footer{


 padding-top: 15px;
 border-top: 1px solid yellowgreen;

}
