
body{
    margin:0;
    padding: 0;
    background-color: #eeeeee;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}


.contenedor{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows:repeat(7 , auto) ;
    grid-template-areas: "header header header"
                          "slider slider slider"
                          "pasos  pasos    pasos"
                          "eventos eventos eventos"
                          "eventos eventos eventos"
                          "mediospago mediospago mediospago"
                          "footer footer footer";
                     
}

.contenedor{

  margin-right: 0;
}

/*-----HEADER------*/

.header{
    height: 80%;
    padding-bottom: 18px;
    
}

#menu{
   
   padding: 5px;
}

 .header .header1 {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
}

.marca{
    text-align: left;
    margin-left: 0;

}

.evento-marca{
  text-decoration: none;
  font-family: 'Cinzel', serif;


}

.evento-marca >h2{

  font-family: 'Cinzel', serif;
  
}



.buscador-lupa {

  width: 500px;
  /*border: 1px solid red;*/
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  
}

input#buscador {

    outline: none;  

}


#buscador{
    display: flex;
    justify-items: center;

    width: 100px;
  
 
}


.icon-basket{
    font-size: 20px;
    grid-column: 3/-1 ;
    line-height: 70px;
    text-align: center;
    color: #fff;
}

.icon-lupa{
  color: #fff;
  text-align: center;
  margin: auto;
  cursor: pointer;
  padding: 5px;
  background: yellowgreen;
    
}



#menu ul li{
    display: inline-block;
    margin-right: 10px;  

}

#menu ul li a{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px;
    
}

#opciones li a{
  text-decoration:none;
}

#opciones .activo a {
  
  font-weight: bold;
  color: #000;
  
}

.contenedor .header{
    grid-area: header;
    background-color: black;
    
    
}

.contenedor .header #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    /*border: 1px solid black;*/
}

.marca{
    font: 'Cinzel', serif;
    color: #fff;

}

.contenedor #menu{
    grid-area:menuu;
    background-color: yellowgreen;
    grid-gap: 0;

}

#menu a:hover{
    color: white;
}

/*--------------------------------------------------------------*/

.contenedor .slider{
    grid-area: slider;
    background-color: black;
    height: 400px;
    padding-top: 10px;
    margin:auto;


}

.slider{
  
  padding-bottom: 30px;

}

.slider img{
  display: block;
  margin: auto;
  grid-column: 2/3;
  width: 1220px;
  height: 400px;
  margin: auto;
  border: 10px solid #F25E3D;
}
.slider .eventos{
  display: none;
  margin:auto; 
}

.slider .eventos:first-child{
  display: block;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.5s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#f-izq , #f-der{
  position: relative;
  top:-200px;
  cursor: pointer;
}

 #f-izq{
  grid-area:slider;
  color: white;
  float: left;
 background-color: #F25E3D;
 font-size: 50px;
 width: 5%;
 justify-content:space-between;
 position: relative;
 grid-column: 1/2;
 margin: auto;

}


  #f-der{
  grid-area: slider;
  color: white;
  float: right;
  background-color: #F25E3D;
  font-size: 50px;
  width: 5%;
 


}

.clearfix{
    clear: both;
    width: 0;
   height: 0;
   padding: 0;
   margin: 0;}

/*-----------------pasos-----------------------------*/

.contenedor .pasos{
  grid-area: pasos;
  display: flex;
  width: auto;
  /*border: 10px solid red ;*/
  justify-content:flex-start;
  margin-left: 0;
  padding-bottom: 20px;
}

.paso1 , .paso2 , .paso3{

  display: inline-block;
  align-self: center;
  color:yellowgreen; 
  border:1px solid yellowgreen;
  background-color:  black;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-left: 10px;
  font-size: 15px; 
  width: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
 

}


.paso1:hover , .paso2:hover , .paso3:hover{
    background-color: yellowgreen;
    color: black;
    padding-top: 0px;
    padding-bottom: 0px;
    }

    
 /*-------------fin pasos-------------*/ 
 
 /*------eventos-------------------*/  

.contenedor .evento{

 grid-area: eventos;
 display: flex;
 justify-content: space-between;
 margin-left: 10px;
 flex-wrap: wrap;
 padding-top: 20px;

}
.evento .e1 , .evento .e2 ,
 .evento .e3 , .evento .e4 ,
  .evento .e5 , .evento .e6{

   margin: auto;
   padding-bottom: 20px;
}

.evento>div{

  border: 2px solid yellowgreen;
  padding:2px 5px; 

}

.evento-card{
  margin-top: 10px;
}

.evento-card >h2 , .evento-card>a , .evento-card>p{
  text-align: center;
  color: #fff;
}

.evento-card a{

  text-decoration: none;
  color: #000;
}

.evento>.e4,.evento>.e5,.evento>.e6{
  margin-top: 2%;
}

.b-detalle-e{

  margin: auto;
  background: #cddc39;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  font-weight: bolder;
  cursor: pointer;
}

.b-detalle-e:hover{

  background: yellowgreen;


}



/*-------------fin eventos----*/

.contenedor .medios-pago{
    grid-area: mediospago;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-bottom: 15px;
    /*border: 10px solid red;*/
    padding-top: 1px;
    padding-left:25px;
    padding-right: 25px; 

}

.medios{

  display: flex;
  justify-content: space-between;

}

 .mp1 , .mp2 , .mp3 {
    width: 85px;
    height: 50px;
    align-self: center;
    margin-right: 10px;

  
}

.titulo-medios{

  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 0;

}

/*********************************************/


.contenedor footer{
    grid-area: footer;
    background-color: black;
    margin-bottom: 0;
    border-top: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
}


.footer-fila1{
  display: flex;
  justify-content: space-around;
}

footer .copyright{
    color: white;
    text-align: center;
    padding-bottom:0; 

}

#footer{
 padding-top: 15px;
}

.e-mail{

  border:0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8F0FE/*#F25E3D*/;
  height: 30px;
  width: 200px;
  outline: 0;
}

.e-mail::placeholder{
  background-color: #E8F0FE;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 5px;

}



.casilla-de-mail {

 margin: auto;
 margin-left: 20px;

}


.suscribirse{
  border: 0;
  font-family: 'Roboto', sans-serif;
  height: 32px;
  background-color: yellowgreen;
  font-weight: bold;
  outline: 0;
}

.suscribirse:hover{
  background-color: #F25E3D;
}
.menu-interior>a{
  text-decoration: none;
  color: yellowgreen;
  margin: auto;
  
}


#mi{
  text-align: center;
}

#mi:hover{
  font-weight: bold;
  color:#F25E3D;
}

.menu-interior{
  margin: auto;
  text-align: center;
}

.redes{
  color: yellowgreen;
  display:inline-block;
  margin:auto;
  font-size: 20px;
  text-align: center;

}

.redes span{
  margin-right: 25px;
}

.redes span:hover{

 color:#F25E3D;

}

.copyright{
  
  text-align: center;
  margin-bottom: 0px;
  padding-top: 8px;
  font-size: 12px; 
}
