
body{
    margin:0;
    padding: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor{

background:#000;
}

/*-----HEADER------*/

.header{
    height: 22%;
    padding-bottom: 18px;
    position:fixed;
    z-index: 1000000000000000;  
    background-color: black;
}

.button-menu-responsive{
  display: none;
}


#menu{
   
  padding: 5px;
  border-bottom: 10px solid #000;
  background-color: yellowgreen;

}

.header .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}



.header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #000;
    
}


.marca{
    text-align: left;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    cursor: pointer;

}



.evento-marca >h2{

  font-family: 'Cinzel', serif;
  
}


.buscador-lupa {

  width: 500px;
  padding: 5px;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  padding-bottom: 0;
  
}

input#buscador {

    outline: none;  

}


#buscador{
    display: flex;
    justify-items: center;
    text-align: center;
    margin: auto;
    height: 30px;
    width:100% ;
    outline: 0;
    background: #E8F0FE;
    border: 0;
}



 #resultado{
  background: #000;
  z-index: 1000;
  display: flex;
  flex-direction:column;
  border: 2px solid #9acd32;
  align-content: center;
  padding: 5px;
  grid-column: 2/3;
  margin-top: 0%;
  border-top: 0;

}

#resultado >li{
  list-style: none;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  color: #fff;
}


#resultado li a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}


#resultado> .link-evento:hover ,
#resultado> li a:hover {
  background: #cddc39;
  color: #000;
}



.icon-basket{
    font-size: 20px;
    grid-column: 3/-1 ;
    line-height: 70px;
    text-align: center;
    color: #fff;
    cursor: pointer;

}

.contador{
  color: yellowgreen;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}


#lupa{
  color: #fff;
  text-align: center;
  margin: auto;
  cursor: pointer;
  padding: 6px;
  background: yellowgreen;
    
}


#menu ul li{
    display: inline-block;
    margin-right: 10px;  

}


#menu ul li a, #menu-responsive ul li a{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px;
    
}

#opciones li a, #opciones-responsive li a{
  text-decoration:none;
}

#opciones .activo a {
  
  font-weight: bold;
  color: #000;
  
}

.contenedor .header{
    grid-area: header;
    background-color: black;
    
    
}

.contenedor .header #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    /*border: 1px solid black;*/
}

.marca{
    font: 'Cinzel', serif;
    color: #fff;

}

.contenedor #menu{
    grid-area:menuu;
    background-color: yellowgreen;
    grid-gap: 0;

}

#menu a:hover{
    color: white;
}


/*---FOOTER---*/


.contenedor footer{
    grid-area: footer;
    background-color: black;
    border-top: 1px solid yellowgreen;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0%;
    margin-bottom: 0;
}



.footer-fila1{
  display: flex;
  justify-content: space-around;
}

footer .copyright{
    color: white;
    text-align: center;
    padding-bottom:0; 

}

#footer{
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,1fr);
  grid-template-areas: "email menui redes"
}

.e-mail{
  
  border:0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8F0FE/*#F25E3D*/;
  height: 30px;
  width: 200px;
  outline: 0;

}

.e-mail::placeholder{
  background-color: #E8F0FE;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 5px;

}

.casilla-de-mail {
 grid-area: email;
 margin: auto;
 margin-left: 20px;

}


.suscribirse{
  border: 0;
  font-family: 'Roboto', sans-serif;
  height: 32px;
  background-color: yellowgreen;
  font-weight: bold;
  outline: 0;
}

.suscribirse:hover{
  background-color: #F25E3D;
}
.menu-inferior>a{
  text-decoration: none;
  color: yellowgreen;
  margin: auto;
  
}


#mi{
  text-align: center;
}

#mi:hover{
  font-weight: bold;
  color:#F25E3D;
}

.menu-inferior{
  margin: auto;
  text-align: center;
   grid-area: menui;
}

.redes{

  grid-area: redes;
  color: yellowgreen;
  display:inline-block;
  margin:auto;
  font-size: 20px;
  text-align: center;


}

.redes span{
  margin-right: 25px;
}

.redes span:hover{

 color:#F25E3D;

}

footer >.copyright{
  
  text-align: center;
  margin-bottom: 0px;
  padding-top: 8px;
  font-size: 12px; 
  height: 100%;
  width: 100%;
}



/*RESPONSIVE-------------*/
@media screen and (min-width: 50px) and (max-width: 900px){

  .header1{ 
    margin: auto;
    width:auto;
    display: flex;
    flex-shrink: 100%;
    height: 0%;

  }

  .hedaer1 .buscador-lupa , .header1 .resultado{
    display: none;
  }


 .header{

  margin-bottom: 0px;
  height: 10%;
  width: 100%;
  border-bottom: 2px solid yellowgreen;
  padding-bottom: 0;
  position: fixed;

  }

   .buscador-lupa{
    display: none;

  }

  #lupa{
  
    text-align: left;
    display: inline-block;
    width: 5%;
  }


  #resultado{

    margin-bottom: 5%;
  }

  .carrito{
   grid-column: 3/-1;
   padding: 0%;
   margin-right: 10%;
   line-height: 0;
   margin-top: -18%;
   text-align: right;
   
  
  }

  #menu{
    display: none;
  }

  .marca{
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    grid-column: span 3;
    font-size: 20px;
  }

 .mostrar-menu{
  display: block;
 }

 .contenedorBuscador{
  display: flex;
  flex-direction: column;
  background: yellowgreen;
  padding: 0;
  margin: 0;
  height: 2%;
 }

 .contenedorBuscador > input , .contenedorBuscador >div{
   display: inline-block;

 }

 
 .nav-responsive{
  width:100%;
  background:red;
  height: 100%;
  bottom:0;
  margin:0;
  padding:0;
  position:absolute;
  background: #000;
  position: fixed;
  top: 10%;
  padding-top: 10%;
 
 }

  .nav-responsive ul li{

    margin-bottom: 20px; 
    text-align: left;
    list-style: none;
    text-decoration: none; 
    padding: 5px;
}


.nav-responsive ul li a{
    font-family: 'Roboto', sans-serif;
    color:yellowgreen;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px; 
}

.nav-responsive ul li a:hover , #opciones li:hover{
  background: yellowgreen;
  color: #000;

}

#buscador{
  display: none;
  background: #fff;
  color: #000;
  width: 90%;
  border: 0;
  outline: 0;
  display: inline-block;
  padding: 0;
}
#opciones{
  margin: 0;
  padding: 0;
}

 #opciones li a{
  text-decoration:none;
  list-style: none;
  text-align: left;
  display: block;
}

  .button-menu-responsive{
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 0;
  grid-column: 1/2;
  grid-row: 1/4;
  cursor: pointer;

}

.button-menu-responsive img{
  display: block;
  width: 30px;
  height: 30px;
  
}



.casilla-de-mail {
 
margin: auto;
 grid-row: 1/2;
 grid-column: 1/6;

}


.email{
  font-size: 11px;
}

.menu-inferior{

 display: none;
}


.redes{

  grid-row: 3/4;
 grid-column: 1/6;
 font-size: 11px;
  
}

footer >.copyright{
 
  padding-top: 2px;
  height: 5px;
  grid-row: 4/6;
 grid-column: 1/6;

}

p.copyright.footer-fila2{
  font-size: 11px;
}
input.e-mail, input.suscribirse{
  font-size: 11px;
}

input.e-mail{
  
  height: 20px;
}
input.suscribirse{
  height: 22px;
}
.casilla-de-mail ,
.menu-inferior,
.redes,
footer >.copyright{

  margin-bottom: 10px;

}

}

