body{
    margin:0;
    padding: 0;
    background-color: #eeeeee;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows:repeat(7 , auto) ;
    grid-template-areas: "header header header"
                          "slider slider slider"
                          "p1       p2    p3"
                          "evento1 evento2 evento3"
                          "evento4 evento5 evento6"
                          "mediopago1 mediopago2 mediopago3"
                          "footer footer footer";
}

/*-----HEADER------*/

.header{
    height: 80%;
    padding-bottom: 18px;
}

#menu{
   
   padding: 5px;
}

 .header .header1 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}

.header .marca{
    text-align: left;
}

#buscador{
    display: flex;
    /*justify-content: start;*/
    grid-column: 2/3;
    justify-items: stretch;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    width: 100%
}



/*.icon-lupa{

   grid-column: 2/3;
}*/



.icon-basket{
    font-size: 20px;
    grid-column: 3/-1 ;
    line-height: 70px;
    text-align: center;
    color: #fff;
}

.icon-lupa{
    color: #fff;
}

#menu ul li{
    display: inline-block;
    margin-right: 10px;  

}

#menu ul li a{
    font-family: 'Roboto', sans-serif;
    color:black;
    font-weight:300;
    margin-right: 10px;
    margin-left: 50px;
    
}

#opciones li a{
  text-decoration:none;
}

#opciones .activo a {
  
  font-weight: bold;
  color: white;
  
}

.contenedor .header{
    grid-area: header;
    background-color: black;
    
    
}

.contenedor .header #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    /*border: 1px solid black;*/
}

.marca{
    font-family: 'Cinzel', serif;
    color: #fff;
}
.contenedor #menu{
    grid-area:menuu;
    background-color: yellowgreen;
    grid-gap: 0;

}

#menu a:hover{
    color: white;
}

/*--------------------------------------------------------------*/

.contenedor .slider{
    grid-area: slider;
    background-color: black;
    height: 400px;
    padding-top: 10px;
    margin:auto;


}

.slider{
  /* display: grid;
  grid-gap: 10px;
 grid-template-columns: repeat(3 , 1fr);
  grid-template-rows:repeat(1 , auto) ;
  grid-template-areas: "sl s sr";*/
  padding-bottom: 30px;





}

.slider img{
  display: block;
  margin: auto;
  grid-column: 2/3;
  /*grid-area: s;*/
  width: 1240px;
  height: 400px;
  margin: auto;
  border: 10px solid #F25E3D;
}
.slider .eventos{
  display: none;
  margin:auto; 
}

.slider .eventos:first-child{
  display: block;

}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#f-izq , #f-der{
  position: relative;
  top:-200px;
  cursor: pointer;
}

 #f-izq{
  grid-area:slider;
  color: white;
  float: left;
 background-color: #F25E3D;
 font-size: 50px;
 /*grid-area:sl;*/
 /*margin-bottom: 80%*/;
 width: 5%;
 justify-content:space-between;
 position: relative;
 grid-column: 1/2;
 margin: auto;

}


  #f-der{
  grid-area: slider;
  color: white;
  float: right;
  background-color: #F25E3D;
  font-size: 50px;
 /*margin-bottom: 80%;*/
 width: 5%;
 /*grid-area: sr;*/
 /*padding-left: 7%;*/




}

.clearfix{
    clear: both;}


  .contenedor .paso1 ,.contenedor .paso2 , .contenedor .paso3{
  
  border:1px solid yellowgreen;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin-left: 12px;
  font-size: 15px;  
}



.paso1{
    grid-area: p1;
    background-color:  black;
    color:yellowgreen;
    padding-bottom: 40px;

    }
.paso2{
    grid-area: p2;
   background-color:  black;
    color:yellowgreen;
    padding-bottom: 40px;
    }


  .paso3{
grid-area: p3;
background-color:  black;
    color:yellowgreen;
    padding-bottom: 40px;
}

.paso1:hover , .paso2:hover , .paso3:hover{
    background-color: yellowgreen;
    color: black;
    }
    

.contenedor .e1 , .contenedor .e2 , 
.contenedor .e3 , .contenedor .e4,
.contenedor .e5 , .contenedor .e6{

 display: flex;
 justify-content: space-between;
 margin-left: 10px;

}

.contenedor .e1{
   grid-area: evento1;
   padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
}



.contenedor .e2{
    grid-area: evento2;
    padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
 }

 .contenedor .e3{
    grid-area: evento3;
    padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
 }

 .contenedor .e4{
    grid-area: evento4;
    padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
 }

 .contenedor .e5{
    grid-area: evento5;
    padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
    
 }

 .contenedor .e6{
    grid-area: evento6;
    padding: 0px 0px 100px 0px;
   background: white;
   margin: auto;
 }



.contenedor .mp1 , .contenedor .mp2 ,.contenedor .mp3 ,.contenedor .mp4 {
   
    width: 85px;
    height: 60px;
    justify-content: center;
    margin: auto;
    padding: 40px;

}

.contenedor .mp1 {
    grid-area: mediopago1;
    height: 50px;
}

.contenedor .mp2 {
    grid-area: mediopago2;
}

.contenedor .mp3 {
    grid-area: mediopago3;
}  

