
.contenedor-invitacion{

    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows:repeat(5 , auto) ;
    grid-template-areas:  "header                 header                header"
                          "tarjeta-personalizada  tarjeta-personalizada tarjeta-personalizada"
                          "tarjeta-personalizada  tarjeta-personalizada tarjeta-personalizada"
                          "footer                 footer                footer"
                          "footer                 footer                footer";
}

/*-----HEADER------*/


.contador{
  color: yellowgreen;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
}


 .header{
    grid-area: header;
    background-color: black;
    
    
}

  #buscador{
    margin: auto;
    height: 30px;
    width:100% ;
    outline: 0;
    background: #E8F0FE;
    border: 0;
   
}

/*--------------------------------------------------------------*/

.a-titulo-principal{

  text-decoration: none;

}

.imprimir{
  background: #000;
  border: 0;
}

.print{

  width: 50px;
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.titulo-principal{

  text-align: center;
  color: white;

}

.section-invitacion-personalizada{

  grid-area: tarjeta-personalizada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 9%;
  

}



.tarjeta-personalizacion{

  display: flex;
  flex-direction:row;
  /*margin-left: 30px;*/
  justify-content: center;

}



.tarjeta-personalizacion >div{

  margin-right: 10px;

}



 .tarjeta{
 
  color: white;
  border:1px  solid yellowgreen;
  width: 400px;
  height: 300px;
  position: relative;
  /*align-self: center;*/
  margin: auto;



 }

 .tarjeta>h3 , .tarjeta>p{

  text-align: center;
 }

 .tarjeta>p{
  position: relative;
  bottom: 0px;
 }

 .tarjeta {

  margin-right: 15px;
 }

.modificacion-titulo{
  color:white;
 
  margin: auto;
}

.personalizacion{

  color:white;
  width: 400px;
  height: 100%;
  margin-right: 200px;
  display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;
 margin-top: 0px;

}

.personalizacion{
  text-align: center;
  /*background-color:  rgb(200,85,40);*/
  


}

.personalizacion >input ,
.personalizacion >div{
     
     align-self: center;

 }

 /*****/
 .personalizacion2{

  color:white;
  width: 400px;
  height: 100%;
  margin-right: 50px;
 display: flex;
 flex-direction: column;
 text-align: center;
 justify-content: center;

 margin-top: 17px;

}

.personalizacion2{
  text-align: center;
  /*background-color:  rgb(200,85,40);*/
  


}

.personalizacion2 >input ,
.personalizacion2 >div{
     
     align-self: center;

 }

.titulo-e{
  padding: 10px;
  background-color: #CDDC39;
  border:0;
  outline: 0;
}

.fecha-hora{

  padding: 10px;
  background-color: #CDDC39;
  border:0;
  outline: 0;

}

input[type=radio]{

  cursor: pointer;

}


#negro {

  color: black;

}
 #blanco{
  color: white;}

 #rojo {
  color: red;
 }

 #azul{
  color: blue;}

  #verde{
    color: green;
  }

.size-texto{
  display: inline-block;
  background-color: #CDDC39;
  padding: 10px;
  width: 300px;
  font-size: 14px;
  color:#72751C /*#818520*/;
}

.t-fondo{
  color: white;
  text-align: center;
}

.opciones-color{
  display: inline-block;
  background-color: #CDDC39;
  padding: 10px;
  width: 300px;
  align-self: center;
}

input[type="text"]{
  width: 300px;
  text-align: center;

}

.ubicacion>label{
  background-color: white;
  width: 30px;
  height:20px;
 margin: auto;
  
}

.ubicacion {

  display: inline-flex;
  background-color: #CDDC39;
  width: 300px;
  padding: 10px;

}


.position{

  background: black;
  width: 10px;
  height: 5px;
  outline: 0;
 

}

.p1{

margin-left: 0px;
  
}

.p2{

   margin: auto;
 
}

.p3{

 margin-left: 20px;
  
}





.b-confirmar{

  background-color: yellowgreen;
  border:0;
  color: #000/*#F0F4C3*/;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 8px;
  /*border-radius: 10px;*/
  width: 320px;
  padding: 10px;
  outline: 0;


}

.b-confirmar:hover{
  background: #CDDC39;
}



/*--------------------------------*/

 footer{
    grid-area: footer;
    background-color: black;
    margin-bottom: 0;
    border-top: 1px solid yellowgreen;
}








